{% extends '_bases/public_base.html' %}
{% load static %}

{% block title %}Início - Sistema de Segurança Integrada{% endblock %}

{% block main_public_content %}
    <div class="hero-section"> 
        <div class="container">
            <h1 class="hero-title">Bem-vindo ao Sistema de Segurança Integrada!</h1>
            <p class="lead">Plataforma dedicada à otimização e comunicação das operações de segurança pública municipal.</p>
            <div class="hero-buttons">
                {% if not user.is_authenticated %}
                    <a href="{% url 'autenticacao:login' %}" class="btn btn-primary-custom btn-lg-custom">Acessar Sistema</a>
                {% else %}
                    <a href="{% url 'painel:dashboard' %}" class="btn btn-primary-custom btn-lg-custom">Ir para o Meu Painel</a>
                {% endif %}
                <a href="#servicos" class="btn btn-secondary-custom btn-lg-custom">Saber Mais</a>
            </div>
        </div>
    </div>

    <div class="content-cards-wrapper container">
        <div class="content-card" id="sobre">
            <h2>Nossa Missão</h2>
            <p>Garantir a eficácia e a agilidade nas respostas a incidentes, protegendo a população e otimizando os recursos dos órgãos de segurança. Com o Sistema SI, a informação flui de forma integrada, permitindo decisões mais rápidas e coordenadas.</p>
        </div>

        <div class="content-card" id="servicos">
            <h2>Principais Recursos</h2>
            <div class="card-grid">
                <div class="small-card">
                    <h3><i class="bi bi-journal-text"></i> Gestão de Ocorrências</h3>
                    <p>Centralize e gerencie todas as ocorrências com detalhes, localização e status em tempo real.</p>
                </div>
                <div class="small-card">
                    <h3><i class="bi bi-people"></i> Gestão de Efetivo</h3>
                    <p>Administre perfis, permissões, cargos e patentes de forma contextual por instituição.</p>
                </div>
                <div class="small-card">
                    <h3><i class="bi bi-bar-chart-line"></i> Relatórios e Análises</h3>
                    <p>Obtenha insights com relatórios detalhados e dashboards interativos para tomadas de decisão.</p>
                </div>
                <div class="small-card">
                    <h3><i class="bi bi-shield-check"></i> Integração e Segurança</h3>
                    <p>Plataforma segura para comunicação e compartilhamento de informações entre órgãos.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock main_public_content %}